body{
  background-color: orange;
}
h1{
  text-align: center;
  color:purple;
}
.logo{
  height:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width:300px;
  margin-top:20px;
  border-radius:10%;
}
.events{
  display:block;
  text-align: center;
  font-size:2rem;
  padding:2% 1%;
  font-weight:bold;
  color:blue;
}
.events:hover{
  text-decoration: underline;
}
i{
  float:right;
}
footer{
  text-align:center;
}
